{% extends 'base.html.twig' %}

{% block body %}

    <style>
        .tree-tools {
            text-align: left;
            width: 27px;
            cursor: default;
            padding: 0px 2px;
            -ms-user-select: none;
            user-select: none;
        }
        .tree-expand-collapse-img-btn-collapse{
            cursor: pointer;
            display: inline-block;
            width:16px;
            height:16px;
        }
        .tree-expand-collapse-img-btn{
            cursor: pointer;
            display: inline-block;
            width:20px;
            height:20px;
            transition: all 0.2s;
        }
        .tree-add-el-inroot-img-btn {
            cursor: pointer;
            display: inline-block;
            width:20px;
            height:20px;
        }
        .import-xml {
            text-align: left;
            width: fit-content;
            cursor: default;
            padding: 0px 2px;
            -ms-user-select: none;
            user-select: none;
        }
        .import-xml-img-btn{
            cursor: pointer;
            display: inline-block;
            width:22px;
            height:22px;
        }
        .node-img-btn{
            cursor: pointer;
            display: inline-block;
            position: relative;
            width:20px;
            height:20px;
            transition: all 0.2s;
        }
        .tree-node-left-no-child {
            display: inline-block;
            text-align: right;
            vertical-align: baseline;
            width: 24px;
            cursor: default;
            padding: 0px 2px;
            user-select: none;
            border-radius: 3px 0px 0px 3px;
        }
        .tree-node-icon {
            display: inline-block;
            text-align: right;
            width: 24px;
            cursor: default;
            padding: 1px 1px;
            user-select: none;
            vertical-align: baseline;
        }
        .tree-node-name {
            text-align: left;
            cursor: default;
            padding: 2px 4px;
            -ms-user-select: none;
            user-select: none;
        }
        .tree-node-row {
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            padding: 0px 5px 0px 0px;
            border-radius: 3px;
        }
        .tree-node-row:hover {
            background-color: #EBECEE;
        }
        .img-btn-node {
            cursor: pointer;
            position: relative;
            display: inline-block;
            width:20px;
            height:20px;
        }
        .img-btn-edit {
            cursor: pointer;
            position: relative;
            top: -3px;
            display: inline-block;
            width:18px;
            height:18px;
        }
        .tree-node-id {
            text-align: right;
            cursor: default;
            padding: 2px 4px;
            -ms-user-select: none;
            user-select: none;
            border-radius: 0px 3px 3px 0px;
        }
        #btn-clear-search:after {
            cursor: pointer;
            position: relative;
            content: '';
            display: block;
            top: 8px;
            left: -32px;
            width: 24px;
            height: 24px;
            background: url({{ asset('/images/Delete2grey.png') }}) no-repeat center center;
            background-size: 80%;
            border-radius: 3px;
            user-select: none;
        }
        .container {
            display: contents;
            align-items: center;
            width: 100%;
        }
        .node-box{
            padding: 1px 7px;
        }
        .node-box-selected{
            border-radius: 3px;
            background-color: #0075ff;
            padding: 1px 7px;
            color: white;
            font-weight: 500;
        }
        .form-control-box-edit-node{
            width: 100%;
            padding: .375rem .75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            -moz-appearance: none;
            appearance: none;
            background-color: var(--bs-body-bg);
            background-clip: padding-box;
            border: var(--bs-border-width) solid var(--bs-border-color);
            border-radius: var(--bs-border-radius);
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        }
        .form-control-box-edit-node:focus {
            color: var(--bs-body-color);
            background-color: var(--bs-body-bg);
            border-color: #86b7fe;
            outline: 0;
            box-shadow: 0 0 0 0.05rem rgba(13, 110, 253, 86)
        }


    </style>

    <div class="col" style="margin: 10px auto">
        {{ component('NodeSearch', { max: 5 }) }}
    </div>



    {# {{ dump(treeArr) }} #}


{% endblock %}

