<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}advTreeSrv{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>



<body>

<h4 class="h4" style="text-align:center; margin: 20px" > Сервис для работы с иерархичным справочником </h4>
<hr>
<div style="padding: 0px 20px; min-width: 320px">
    <div class="row">
        {% block body %}{% endblock %}
    </div>
</div>
<hr>
<p style="text-align:left; margin: 20px";>Copyright: Omega Connections ©</p>
</body>
</html>
